{% extends "layout.jinja2" %}
{% block title %}Student management{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <h3>메인페이지</h3>
    <h5><a class="nav-link" href="{{ url_for('major') }}">전공</a></h5>
    <div> 전공의 정보를 생성, 확인, 수정, 삭제할 수 있습니다. 해당 전공의 학생과 교수, 강의를 확인할 수 있습니다.  </div>
    <br/>
    <h5><a class="nav-link" href="{{ url_for('professor') }}">교수</a></h5>
    <div> 교수의 정보를 생성, 확인, 수정, 삭제할 수 있습니다. 전공별로 교수를 볼 수 있습니다. 해당 교수가 개설한 강의의 목록을 확인할 수 있습니다.</div>
    <br/>
    <h5><a class="nav-link" href="{{ url_for('student') }}">학생</a></h5>
    <div> 학생의 정보를 생성, 확인, 수정, 삭제할 수 있습니다. 전공별로 학생을 볼 수 있습니다. 해당 학생이 수강한 강의의 목록을 확인할 수 있습니다.</div>
    <br/>
    <h5> <a class="nav-link" href="{{ url_for('lecture') }}">강의</a></h5>
    <div> 강의의 정보를 생성, 확인, 수정, 삭제할 수 있습니다. 전공별로 강의를 볼 수 있습니다. 강의의 교수, 수강생을 볼 수 있습니다.div>
    <br/>
    
{% endblock %}


