{% extends "layout.jinja2" %}
{% block title %}강의{% endblock %}
{% block head %}
  {{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function () {    
	var allOptions = $('#professor option')
	$('#major').change(function () {
			$('#professor option').remove()
			var classN = $('#major option:selected').prop('class');
			var opts = allOptions.filter('.' + classN);
			$.each(opts, function (i, j) {
					$(j).appendTo('#professor');
			});
	});
});
</script>
<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("select-major");
  filter = input.value
  table = document.getElementById("lecture-table");
  tr = table.getElementsByTagName("tr");
  if(filter !== '-1'){
    for (i = 0; i < tr.length; i++) {
      if(tr[i].className == filter){
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      } 
    }
  } else {
    for (i = 0; i < tr.length; i++) {
      tr[i].style.display = "";
    }
  }
}
</script>
{% endblock %}
{% block content %}
    <h3>강의</h3>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  강의 추가
</button>
<select id="select-major" class="custom-select" onchange="myFunction()" >
  <option value = "-1"> 전체 </option>
  {% for item in majors%}
    <option value = "{{ item.id }}"> {{ item.full_name }} </option>
	{% endfor %}
</select>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">강의 추가</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form action = "{{ url_for('lecture') }}" method = "POST">
					<div class="form-group">
						<label for="recipient-name" class="col-form-label" for="full_name">강의 이름:</label>
						<input type="text" class="form-control" id="full_name" name="full_name" required>
					</div>

          <div class="form-group">
						<label for="recipient-name" class="col-form-label" for="major">전공:</label>
						<select name="major" id="major" name="major">
              <option value="" class="rhth">전공 선택</option>
              {% for item in majors %}
                <option value="{{ item.id }}" class="{{ item.id }}"> {{ item.full_name }} </option>
	            {% endfor %}
            </select>
					</div>

          <div class="form-group">
						<label for="recipient-name" class="col-form-label" for="professor">교수:</label>
						<select name="professor" id="professor" name="professor" >
              <option value="" class="rhth">교수 선택</option>
              {% for item in professors %}
                <option value="{{ item.id }}" class="selectors {{ item.major }}"> {{ item.full_name }} </option>
	            {% endfor %}
            </select>
					</div>

          <div class="form-group">
						<label for="recipient-name" class="col-form-label" for="place">위치:</label>
						<input type="text" class="form-control" id="place" name="place" required>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save changes</button>
					</div>
				</form>

			</div>


		</div>
	</div>
</div>

<table class="table" id="lecture-table">
  <thead>
    <tr>
      <th scope="col">강의명</th>
      <th scope="col">전공</th>
      <th scope="col">교수</th>
      <th scope="col">장소</th>
    </tr>
  </thead>
  <tbody>
		{% for l, m, p in lectures%}
			<tr class="{{ m.id }}" >
				<th scope="row">{{l.full_name}}</th>
				<td>{{ m.full_name }} </td>
				<td>{{ p.full_name }} </td>
				<td>{{ l.place }} </td>
				<td>
          <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('getLec', id=l.id) }}' ">
            세부사항
          </button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('delLec', id=l.id) }}' ">
            삭제
          </button>
        </td>
			</tr>
		{% endfor %}
  </tbody>
</table>
{% endblock %}


